[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
dj-database-url = "*"
pylint = "*"
"flake8" = "*"
djangorestframework-simplejwt = "*"
pyaml = "*"
uritemplate = "*"
drf-yasg = "*"
model-bakery = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-sugar = "*"
pytest-cov = "*"
black = "==19.3b0"
pylint = "*"

[requires]
python_version = "3.7"
